@-moz-document url-prefix("https://duelingnexus.com/") {
/*SECTION 1 NONAVBAR*/
/*Remove this section to use navbar*/
#navbar {
    display: none
}
#app {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
}

@-moz-document url-prefix("https://duelingnexus.com/") {
/*SECTION 2 GLOBAL*/
/*This code affects the whole site.*/
html {
    background-image: url("https://victorgodoka.github.io/ygoblog/images/home-bg.jpg")
}
body {
    font-size: 2.5vh;
    margin: 0;
    height: 100vh;
    position: relative;
}
div#app, #gamelist-area, #decks-area {
    margin-bottom: 40px
}
#socket-connection {
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    height: 3vh;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 26%;
}
#news-area, #duel-area, #custom-game-area[data-v-5b840ce8], #my-profile[data-v-7d3c70a7], #leaderboard-page, #donate-area[data-v-6d0fcd6e] {
    box-sizing: border-box;
    display: block;
    overflow-y: auto;
    min-height: 0;
    max-height: 100vh;
    width: auto;
    min-width: 0;
    max-width: 100vw;
    margin: 0;
    position: absolute;
    right: 12%;
    left: 12%;
}
#news-area, #duel-area {
    height: 65%;
    top: 25%;
}
#custom-game-area[data-v-5b840ce8], #my-profile[data-v-7d3c70a7], #leaderboard-page, #donate-area[data-v-6d0fcd6e] {
    height: 75%;
    top: 15%;
}
article {
    border: 1px solid #ffffff26;
    background-color: #101522b4;
    border-radius: 7px;
}
article, #navbar {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
}

@-moz-document url("https://duelingnexus.com/login"), url("https://duelingnexus.com/register"), url("https://duelingnexus.com/recover"), url("https://duelingnexus.com/privacy_policy.html") {
/*SECTION 3 LOGIN*/
/*This section applies to the pages you can access without logging in.*/
#navbar-middle:before, #news-area {
    display: none
}
#navbar-middle:after {
    content: ' ';
    background: url('https://raw.githubusercontent.com/victorgodoka/ygoblog/master/images/dn-logo.png') no-repeat;
    background-size: 40vw 22vw;
    height: 22vw;
    width: 40vw; 
    display: block;
    position: fixed;
    top: 30%;
    right: 15%;
}
#socket-connection, #navbar-right, #news-area {
    opacity: 0
}
#login-loading {
    font-size: 4vh;
    margin: 0;
    padding-top: 30%;
}
a {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    padding: 0;
    text-decoration: underline;
    opacity: .75;
}
a:focus {
    font-style: italic
}
a:hover {
    opacity: 1
}
h1, h2, h3 {
    font-variant: small-caps;
    line-height: 1;
    text-transform: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin: .5vh;
    padding: 0;
}
#newsMain {
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.news_list {
    margin: 5vh 2.5vw;
    height: 85vh;
    width: auto;
    max-width: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 0;
}
@media (orientation: landscape) {
h1, h2, h3 {
    letter-spacing: .1vw
}
h1 {
    font-size: 2vw
}
h2 {
    font-size: 1.75vw
}
h3 {
    font-size: 1.5vw
}
h4 {
    font-size: 1.25vw
}
li, p {
    font-size: 1vw
}
}
@media (orientation: portrait) {
h1, h2, h3 {
    letter-spacing: .2vh
}
h1 {
    font-size: 4vh
}
h2 {
    font-size: 3.5vh
}
h3 {
    font-size: 3vh
}
h4 {
    font-size: 2.5vh
}
li, p {
    font-size: 1.75vh
}
}
}

@-moz-document url("https://duelingnexus.com/home") {
/*SECTION 4 HOME*/
/*This section affects the page that loads when you first login*/
@keyframes disappear {
    0% {opacity: 1}
    25% {opacity: 1}
    100% {opacity: 0}
}
@keyframes appear {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1}
}
#home-area {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
}
#home-area p:nth-child(2) {
    animation: disappear 3s;
    font-size: 5vh;
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 30%;
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}
#home-area h2, #home-area button {
    display: none
}
#navbar-middle, #navbar-right, #news-area, #socket-connection {
    animation: appear 3s
}
#navbar-right {
    z-index: 2
}
}

@-moz-document url("https://duelingnexus.com/duel"), url("https://duelingnexus.com/gamelist"), url("https://duelingnexus.com/hostgame") {
/*SECTION 5 DUEL ZONE*/
/*This section effects the pages that show up when you click the Duel Zone button.*/
#app {
    overflow-y: auto
}
#navbar-middle > button:nth-of-type(2) {
    background-color: #4f1158 !important
}
h2, hr {
    display: none
}
h3 {
    font-size: 2.5vh;
    text-align: left;
    position: absolute;
}
#duel-area p {
    margin: 7vh 2% 0 0
}
#duel-area > div > h3:nth-of-type(1) {
    top: 4vh
}
#duel-area > div > h3:nth-of-type(2) {
    top: 21vh
}
#duel-area > div > h3:nth-of-type(3) {
    top: 38vh
}
#duel-area > div > h3:nth-of-type(4) {
    opacity: 0
}
#duel-area > div > p:nth-of-type(6) {
    text-transform: uppercase;
    color: #F33;
}
#duel-area > div > p > button, #duel-area > div > p:nth-of-type(6), #region-select, option {
    font-size: 1.5vw;
    height: 10vh;
    padding: 3% 3% 3% 6%;
}
#duel-area > div > p > button, select {
    text-align: left;
    background-color: #252C37;
    border: none;
    width: 100%;
}
#duel-area > div > p > button:hover {
    background-color: #4f1158
}
#duel-area > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
}
#duel-area button img {
    padding: 5% 1%;
    float: right;
    height: 2vw;
    width: 2vw;
}
select {
    height: 50%;
    padding: 0;
}
}

@-moz-document url("https://duelingnexus.com/decks") {
/*SECTION 6 DECK EDITOR*/
/*This section applies to the page that loads when you click the Deck Editor button.*/
#app {
    overflow-y: auto
}
#navbar-middle > button:nth-of-type(3) {
    background-color: #4f1158 !important
}
}

@-moz-document url("https://duelingnexus.com/profile") {
/*SECTION 7 PROFILE*/
/*This section applies to the page that loads when you click the Profile button.*/
#navbar-middle > button:nth-of-type(4) {
    background-color: #4f1158 !important
}
}

@-moz-document url("https://duelingnexus.com/leaderboard") {
/*SECTION 8 LEADERBOARD*/
/*This section applies to the page that loads when you click the Leaderboard button.*/
#navbar-middle > button:nth-of-type(5) {
    background-color: #4f1158 !important
}
}

@-moz-document url-prefix("https://duelingnexus.com/donate") {
/*SECTION 8 DONATE*/
/*This section applies to the page that loads when you click the Donate button.*/
#navbar-middle > button:nth-of-type(6) {
    background-color: #4f1158 !important
}
}
