@-moz-document url-prefix("https://duelingnexus.com/") {
/*SECTION 1 NONAVBAR*/
/*Remove this section to use navbar*/
#navbar, #socket-connection, #login-area {
    display: none
}
#app, div[data-v-9bfe76b0], div[data-v-9bfe76b0] #news-area {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
}

@-moz-document url-prefix("https://duelingnexus.com/") {
/*SECTION 2 GLOBAL*/
/*This code affects the whole site.*/
html {
    background-image: url("https://victorgodoka.github.io/ygoblog/images/home-bg.jpg")
}
body {
    margin: 0;
    height: 100vh;
    position: relative;
}
article {
    padding: 1%
}
div#app, #gamelist-area, #decks-area {
    margin-bottom: 40px
}
#duel-area, #custom-game-area[data-v-5b840ce8], #my-profile[data-v-7d3c70a7], #leaderboard-page, #donate-area[data-v-6d0fcd6e] {
    box-sizing: border-box;
    display: block;
    overflow-y: auto;
    min-height: 0;
    max-height: 100vh;
    width: auto;
    min-width: 0;
    max-width: 100vw;
    margin: 0;
    position: absolute;
    right: 12%;
    left: 12%;
}
#duel-area {
    height: 65%;
    top: 25%;
}
#custom-game-area[data-v-5b840ce8], #my-profile[data-v-7d3c70a7], #leaderboard-page, #donate-area[data-v-6d0fcd6e] {
    height: 75%;
    top: 15%;
}
article {
    border: 1px solid #ffffff26;
    background-color: #101522b4;
    border-radius: 7px;
}
article, #navbar {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
}

@-moz-document url("https://duelingnexus.com/login"), url("https://duelingnexus.com/register"), url("https://duelingnexus.com/recover"), url("https://duelingnexus.com/privacy_policy.html") {
/*SECTION 3 LOGIN*/
/*This section applies to the pages you can access without logging in.*/
#navbar-middle:before {
    display: none
}
div, #news-area {
    height: 100%;
    width: 100%;
    max-width: 100vw;
}
#news-area {
    margin: 0;
    padding: 0;
    position: absolute;
}
#news-area:before {
    content: ' ';
    background: url('https://raw.githubusercontent.com/victorgodoka/ygoblog/master/images/dn-logo.png') no-repeat center;
    background-size: auto 100%;
    height: 40%;
    width: 100%;
    display: block;
    opacity: 1;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 30%;
    left: auto;
}
#socket-connection, #navbar-right, #news-area h3, #news-area p, #news-area strong, #news-area em {
    font-size: 0;
    opacity: 0;
}
#login-loading {
    font-size: 4vh;
    margin: 0;
    padding-top: 30%;
}
a {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    padding: 0;
    text-decoration: underline;
    opacity: .75;
}
a:focus {
    font-style: italic
}
a:hover {
    opacity: 1
}
h1, h2, h3 {
    font-variant: small-caps;
    line-height: 1;
    text-transform: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin: .5vh;
    padding: 0;
}
#newsMain {
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.news_list {
    margin: 5vh 2.5vw;
    height: 85vh;
    width: auto;
    max-width: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 0;
}
@media (orientation: landscape) {
h1, h2, h3 {
    letter-spacing: .1vw
}
h1 {
    font-size: 2vw
}
h2 {
    font-size: 1.75vw
}
h3 {
    font-size: 1.5vw
}
h4 {
    font-size: 1.25vw
}
li {
    font-size: 1vw
}
}
@media (orientation: portrait) {
h1, h2, h3 {
    letter-spacing: .2vh
}
h1 {
    font-size: 4vh
}
h2 {
    font-size: 3.5vh
}
h3 {
    font-size: 3vh
}
h4 {
    font-size: 2.5vh
}
li {
    font-size: 2vh
}
}
}

@-moz-document url("https://duelingnexus.com/home") {
/*SECTION 4 HOME*/
/*This section affects the page that loads when you first login*/
@keyframes disappear {
    0% {opacity: 1}
    25% {opacity: 1}
    100% {opacity: 0}
}
@keyframes appear {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1}
}
#home-area {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
}
#home-area p:nth-child(2) {
    animation: disappear 3s;
    font-size: 5vh;
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 30%;
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}
#home-area h2, #home-area button {
    display: none
}
#navbar-middle, #navbar-right, #news-area, #socket-connection {
    animation: appear 3s
}
#navbar-right {
    z-index: 2
}
#news-area {
    box-sizing: border-box;
    display: block;
    overflow-y: auto;
    min-height: 0;
    max-height: 100vh;
    height: 60%;
    width: auto;
    min-width: 0;
    max-width: 100vw;
    margin: 0;
    position: absolute;
    top: 30%;
    right: 12%;
    left: 12%;
}
}

@-moz-document url("https://duelingnexus.com/duel"), url("https://duelingnexus.com/gamelist"), url("https://duelingnexus.com/hostgame") {
/*SECTION 5 DUEL ZONE*/
/*This section effects the pages that show up when you click the Duel Zone button.*/
#app {
    overflow-y: auto
}
#navbar-middle > button:nth-of-type(2) {
    background-color: #8518c3 !important
}
h2, hr {
    display: none
}
h3 {
    font-size: 2.5vh;
    text-align: left;
    position: absolute;
}
#duel-area p {
    margin: 7vh 2% 0 0
}
#duel-area > div > h3:nth-of-type(1) {
    top: 4vh
}
#duel-area > div > h3:nth-of-type(2) {
    top: 21vh
}
#duel-area > div > h3:nth-of-type(3) {
    top: 38vh
}
#duel-area > div > h3:nth-of-type(4) {
    opacity: 0
}
#duel-area > div > p:nth-of-type(6) {
    text-transform: uppercase;
    color: #F33;
}
#duel-area > div > p > button, #duel-area > div > p:nth-of-type(6), #region-select, option {
    font-size: 1.5vw;
    height: 10vh;
    padding: 3% 3% 3% 6%;
}
#duel-area > div > p > button, select {
    text-align: left;
    background-color: #252C37;
    border: none;
    width: 100%;
}
#duel-area > div > p > button:hover {
    background-color: #4f1158
}
#duel-area > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
}
#duel-area button img {
    padding: 5% 1%;
    float: right;
    height: 2vw;
    width: 2vw;
}
select {
    height: 50%;
    padding: 0;
}
}

@-moz-document url("https://duelingnexus.com/decks") {
/*SECTION 6 DECK EDITOR*/
/*This section applies to the page that loads when you click the Deck Editor button.*/
#app {
    overflow-y: auto
}
#navbar-middle > button:nth-of-type(3) {
    background-color: #8518c3 !important
}
}

@-moz-document url("https://duelingnexus.com/profile") {
/*SECTION 7 PROFILE*/
/*This section applies to the page that loads when you click the Profile button.*/
#navbar-middle > button:nth-of-type(4) {
    background-color: #8518c3 !important
}
}

@-moz-document url("https://duelingnexus.com/leaderboard") {
/*SECTION 8 LEADERBOARD*/
/*This section applies to the page that loads when you click the Leaderboard button.*/
#navbar-middle > button:nth-of-type(5) {
    background-color: #8518c3 !important
}
}

@-moz-document url-prefix("https://duelingnexus.com/donate") {
/*SECTION 9 DONATE*/
/*This section applies to the page that loads when you click the Donate button.*/
#navbar-middle > button:nth-of-type(6) {
    background-color: #8518c3 !important
}
}

@-moz-document url-prefix("https://duelingnexus.com/game"), url-prefix("https://duelingnexus.com/editor") {
/*SECTION 10 GAMEGLOBAL*/
/*This section applies to the game and editor pages. Much of the code is shared.*/
html {
    overflow: auto
}
div {
    line-height: 1
}
h4 {/*Big headers.*/
    font-size: 3vh
}
h6 {/*Small headers.*/
    font-size: 1.5vh
}
#editor-container, #game-container, .engine-dark-box {
    margin: 0
}
#card-column, #editor-decks-column, #game-siding-column {
    height: 100vh
}
#card-column {/*Moves the left column to the left wall of the screen.*/
    width: 24vw;
    float: left;
    margin: 0 .5vw;
}
#editor-decks-column, #game-siding-column {
    width: 35.5vw;
    padding: 0;
}
#editor-search-column, #game-siding-column-2 {
    height: 40vw;
    width: 36.3vw;
    overflow: hidden;
    margin: 0 .5vw;
    padding: 0;
    position: relative;
}
.engine-dark-box { 
    min-height: 2vw
}
.engine-text-box, #card-description-box, #editor-main-deck, #siding-main-deck, #editor-extra-deck, #editor-side-deck, #siding-extra-deck, #siding-side-deck {
    border-width: .15vw;
    border-color: #595e67;
    border-style: solid;
}
.engine-dark-box, #card-column, #card-name, #card-picture-container, #card-description-box, #editor-main-deck, #siding-main-deck, #editor-extra-deck, #editor-side-deck, #siding-extra-deck, #siding-side-deck, .engine-text-box, #editor-search-results {
    box-sizing: border-box
}
#card-name, #editor-deck-main-title, #editor-search-title, #siding-deck-main-title,#editor-deck-extra-title, #editor-deck-side-title, #siding-deck-extra-title, #siding-deck-side-title {
	margin: 0
}
#card-picture-container, #editor-main-deck, #siding-main-deck {
    height: 20.5vw !important;
    min-height: 0;
    max-height: 100vh;
    margin: 1vw 0 .5vw 0;
}
#card-picture {/*"%" represents what percentage of the #card-column this image file takes up.*/
    height: 100%;
    width: auto;
    max-width: 100%;
}
#card-description-box {
    font-size: 2vh;
    text-align: justify;
    cursor: s-resize;
    overflow-x: hidden;
    overflow-y: auto;
    height: 10.75vw;
    padding: .5vh 1vh;
}
#card-if-monster, #card-if-spell, #card-if-trap {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    font: bold 2vh sans-serif;
}
#card-if-monster:hover, #card-if-spell:hover, #card-if-trap:hover {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    font-size: 1.25vw;
}
#editor-extra-deck, #editor-side-deck, #siding-extra-deck, #siding-side-deck {
    height: 5.25vw !important;
    margin: .5vw 0;
}
.engine-text-box {
    font-size: 1.5vw;
    height: 2.3vw;
    padding: .15vw;
    border-color: #AAAAAA;
    border-width: .15vw;
}
/*ENGINE BUTTONS*/
.engine-button:not(.game-phase-button), select#rs-ext-banlist {
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    font-family: "Arial Narrow", inherit;
    border-width: .15vw;
    cursor: pointer;
    min-height: 4vh;/* If this causes problems, return to 0;*/
    padding: 0 .5vw;
}
.engine-button:active {
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    font-style: italic;
}
table#game-field {
    margin-left: 1.5vw;
}
}

@-moz-document url-prefix("https://duelingnexus.com/editor/") {
/*SECTION 12 EDITOR*/
/*This section affects the Editor pages, where you build your deck.*/
/*Editor top*/
@media (orientation: landscape) {
#editor-menu-container {
    background-image: linear-gradient(-20deg, #121724, #010711);
    border-width: 0 0 .2vw 0;
    border-style: solid;
    border-color: #595e67;
    margin: 0 0 1% 0;
}
#editor-menu-title, .engine-button, span {
    font-size: 2.25vh
}
#rs-ext-banlist, .engine-button {
    border: 0
}
#rs-ext-banlist, .engine-button-navbar {
    font-size: 1.2vw;
    color: white;
    height: 4vh;
    float: left;
    margin: 2vh 0 0 .5vh;
}
#rs-ext-banlist, .engine-button-default {
    background-color: #111925
}
.engine-button-primary {
    background-color: #00c4ff
}
.engine-button-danger {
    background-color: #e31212
}
.engine-button[disabled], .engine-button:disabled {
    background-color: #5e111d;
    cursor: not-allowed;
}
.engine-button[active], .engine-button:active {
    background-color: #8518c3
}
#editor-menu-container, #editor-menu-content, #editor-menu-title {
    height: 8vh
}
#editor-menu-content {
    padding: 0;
    left: 0;
}
#editor-menu-title {
    line-height: 3.5;
    text-align: right;
    word-wrap: break-word;
    overflow-y: auto;
    float: right;
    width: auto;
    max-width: 25vw;
    padding-right: 1vh;
}
#editor-menu-spacer {
    display: none
}
#editor-search-column {    
    border-width: 0 0 .15vw 0;
    border-color: #595e67;
    border-style: solid;
    margin-bottom: 40px;
}
/*Search Column*/
.engine-text-box {
    margin: 1vw 0 0 0
}
#editor-search-box {
    height: 17vw;
    overflow-y: auto;
}
#editor-search-results {
    border-width: .15vw .15vw 0 .15vw;
    border-color: #595e67;
    border-style: solid;
    height: 23vw;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: .15vw;
}
.editor-search-result, .rs-ext-card-entry-table {
    cursor: pointer;
    width: 100.44%;
    border-width: .15vw;
    margin: -.15vw 0 0 -.15vw;
}
.editor-search-card {
    width: 22.41%;
    float: left;
    position: relative;
}
.editor-search-description {
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -ms-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    font-size: 1vw;
    margin-left: 22.41%;
    position: absolute;
}
.editor-search-description:hover {
    font-size: .666vw;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: visible;
    margin-left: 0;
    position: absolute;
}
.card-preview, .rs-ext-table-button {
    border-width: .15vw
}
.card-preview {
    width: 60%
}
.rs-ext-table-button {
    font-size: 1vw;
    padding: 0;
    width: 20%;
}
.template-name {
    font-weight: bold
}
}
@media (orientation: portrait) {
div {
    display: none
}
html {
    background-position: right bottom;
    background-size: 375% 100%;
}
}
}
