@-moz-document domain("duelingnexus.com") {
#navbar-left {
    width: 17.5%
}
.language-picker__form label {
    height: 2.3vw;
    width: 2.3vw;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.language-picker__form label img {
    border-width: .1vh;
    border-style: solid;
    border-radius: 50%;
    display: inline-block;
    height: 2vw;
    width: 2vw;
}
#lang-select {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    width: 40%;
}
option {
    background-color: #111925
}
.language-picker__form label img {
/*Deutsch*/
/*    transform: translateY(0)*/
/*English*/
/*    transform: translateY(-113%)*/
/*Español*/
/*    transform: translateY(-226%)*/
/*Français*/
/*    transform: translateY(-339%)*/
/*Italiano*/
/*    transform: translateY(-452%)*/
/*한국어*/
/*    transform: translateY(-565%)*/
/*Português*/
/*    transform: translateY(-690%)*/
/*中文*/
    transform: translateY(-800%)
}
}
