@-moz-document domain("duelingnexus.com") {
/*SECTION 12 NAVBAR*/
/*This section affects the navbar and login regardless of the device you're using.*/
body {
    margin: 0;
    height: 100vh;
    position: relative;
}
#app, #nexus-gui-popup-background {
    height: 100%;
    width: 75%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 25%;
}
form[data-v-9bfe76b0], form[data-v-4068c77b], form input[type="checkbox"] {
    margin: 0;
    padding: 0;
}
article button, form div {
    min-height: 0
}
#navbar, #login-area[data-v-9bfe76b0], #register-area[data-v-4068c77b], #recover-area[data-v-8098b0b4] {
    max-height: 100vh;
    width: 25%;
    position: fixed;
    top: 0;
    margin: 0;
    left: 0;
}
#navbar {
    background-image: linear-gradient(-20deg, #121724, #010711);
    border-width: 0 .2vw 0 0;
    border-style: solid;
    border-color: #595e67;
    height: 100%;
    padding-top: 2%;
}
#navbar-left {
    height: 100%;
    width: 25%;
    position: fixed;
    left: 0;
}
#navbar-left button {
    font-size: 0;
    background-color: #020813;
    border-color: #595e67;
    border-width: .15vw;
    float: left;
    padding: .5vh;
    min-height: 0;
    min-width: 0;
}
#navbar-left br, #navbar-middle br {
    display: none
}
#navbar-left:before {
    content: 'JOIN US ON';
    text-align: left;
    display: block;
}
#navbar-middle, #navbar-right button {
    margin: 0
}
#navbar-middle:before {
    content: url('https://i.imgur.com/s5Fi8nR.png')
}
#navbar-middle button, #navbar-right button {
    text-align: left;
    vertical-align: middle;
    min-height: 0;
}
#navbar-middle button {
    text-transform: uppercase;
    border-width: .15vw;
    padding: 3% 3% 3% 6%;
}
/*#navbar-middle > button:nth-of-type(1) {
    display: none
}*/
#navbar-middle button, form button, form input[type="text"], form input[type="password"], form input[type="email"] {
    width: 80%
}
#navbar-middle button img, #navbar-right button img {
    float: right
}
#navbar #logout-button {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}
#login-area[data-v-9bfe76b0], #register-area[data-v-4068c77b], #recover-area[data-v-8098b0b4] {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
}
#navbar button, form button, input[type="text"], form input[type="password"], a, input, label {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
#navbar-middle button, form button, form input[type="text"], form input[type="password"], form input[type="email"] {
    color: white;
    background-color: #111925;
}
form button, form input[type="text"], form input[type="password"], form input[type="email"] {
    padding: 0
}
a:focus, a:hover, input:focus, input:hover, label:focus, label:hover, form button:focus, form button:hover {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
#navbar button:hover, form button:hover, input:hover, form input[type="password"]:hover, form input[type="email"]:hover {
    background-color: #4f1158 !important;
    border-color: #84598b;
}
form div {
    padding: 1% 0 0 0
}
a, input, label {
    opacity: .7;
    cursor: pointer;
}
a:hover, input:hover, label:hover {
    opacity: 1
}
#socket-connection {
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    height: 3vh;
    width: auto;
    min-width: 0;
    z-index: 3;
    position: fixed;
}
}

@-moz-document domain("duelingnexus.com") {
/*SECTION 13 COMPUTER*/
/*This section affects the navbar and login on larger horizontal displays.*/
@media (min-height: 500px) and (orientation: landscape) {
#navbar button img {
    height: 2vw;
    width: 2vw;
}
#navbar-left {
    margin-left: 1.5vw;
    top: 75%;
}
#navbar-left:before {
    padding-bottom: 5%
}
#navbar-left button {
    margin: 0 1.5vw 0 0
}
#navbar-left button img {
    padding: .5vw
}
#navbar-middle button, #navbar-right button, input {
    font-size: 1.5vw
}
#navbar-middle button {
    margin: 5% 0 0 0
}
#navbar #logout-button img {
    padding: 0 .75vw;
}
#logout-button {
    position: fixed;
    top: 0;
    right: 0;
    border-width: 0;
}
#login-area h2, #register-area h2, #recover-area h2 {
    font-size: 3vh;
    margin: 2vh 0 3vh 0;
}
input[type="email"], form input[type="email"], form input[type="password"], form input[type="text"], form button {
    text-indent: 0.5vw;
    height: 2.5vw;
}
#socket-connection {
    top: auto;
    bottom: 7%;
    left: 1.5vw;
}
a, label, #login-area p, #register-area p, #recover-area p {
    font-size: 2vh
}
}
}

@-moz-document domain("duelingnexus.com") {
/*SECTION 14 MOBILE*/
/*This section affects navbar and login on smaller devices that can display either horizontally or vertically.*/
@media (max-height: 500px) and (orientation: landscape) {
#navbar {
    padding-top: 1%
}
#navbar button img {
    height: 4vh;
    width: 4vh;
}
#navbar-left {
    margin-left: 1.25vw;
    top: 75%;
}
#navbar-left:before {
    padding-bottom: 2.5%
}
#navbar-left button {
    margin: 0 1.25vw 0 0
}
#navbar-left button img, #navbar #logout-button, #navbar #logout-button img {
    padding: .25vw
}
#navbar-middle button, input[type="email"], form input[type="email"], form input[type="password"], form input[type="text"], form button {
    font-size: 3vh
}
#navbar-middle button {
    margin: 1.5% 0 0 0
}
#navbar-right {
    height: 100vh
}
#logout-button {
    font-size: 0;
    position: absolute;
    top: auto;
    right: 10%;
    bottom: 13.5%;
    left: auto;
}
#login-area h2, #register-area h2, #recover-area h2 {
    font-size: 5vh;
    margin: 0 0 2% 0;
}
input[type="email"], form input[type="email"], form input[type="password"], form input[type="text"], form button {
    text-indent: 0.5vw;
    height: 7vh;
}
#socket-connection {
    top: auto;
    bottom: 7%;
    left: 1.25vw;
}
a, label, #login-area p, #register-area p, #recover-area p {
    font-size: 3vh
}
}

@media (orientation: portrait) {
body {
    font-size: 2.5vh
}
#login-area[data-v-9bfe76b0], #register-area[data-v-4068c77b], #recover-area[data-v-8098b0b4], #navbar, #navbar-left {
    width: 100vw;
    z-index: 2;
}
#navbar button img {
    height: 4vh;
    width: 4vh;
}
#navbar-left {
    margin-left: 3vh;
    top: 75%;
}
#navbar-left:before {
    padding-bottom: 5%
}
#navbar-left button {
    margin: 0 3vh 0 0
}
#navbar-left button img {
    padding: .5vh
}
#navbar-middle {
    margin-top: 5%
}
#navbar-middle button, #navbar-right button, form input[type="email"], form input[type="email"], form input[type="password"], form input[type="text"], form button {
    font-size: 3vh
}
#navbar-middle button {
    margin: 5% 0 0 0
}
#navbar #logout-button img {
    padding: 0 .75vw;
}
#logout-button {
    position: fixed;
    top: 0;
    right: 0;
    border-width: 0;
}
#login-area h2, #register-area h2, #recover-area h2 {
    font-size: 3vh;
    margin: 2vh 0 3vh 0;
}
form input[type="email"], form input[type="email"], form input[type="password"], form input[type="text"], form button {
    text-indent: 1vh;
    height: 5.5vh;
}
#socket-connection {
    top: auto;
    bottom: 7%;
    left: 3vh;
}
a, label, #login-area p, #register-area p, #recover-area p {
    font-size: 2.75vh
}
div#app {
    left: 0
}
article {
    z-index: 1;
}
}
}

@-moz-document url-prefix("https://duelingnexus.com/login"), url-prefix("https://duelingnexus.com/register"), url-prefix("https://duelingnexus.com/recover") {
/*SECTION 15 LOGIN*/
/*This affects the navbar area while logged out. This smooths out the login animation.*/
#navbar-middle button, #navbar-right {
    display: none
}
#links-area[data-v-9bfe76b0], #links-area[data-v-4068c77b], #links-area[data-v-8098b0b4] {
    border-top: 0;
    margin: 0;
    padding: 0;
}
}

@-moz-document url("https://duelingnexus.com/login") {
/*SECTION 16 CHECKBOX*/
/*This is the custom CSS checkbox on the login page.*/
form input[type="checkbox"] {
    margin: 0
}
#login-area[data-v-9bfe76b0] .input-checkbox-group {
    text-align: left;
    text-indent: 6vh;
    width: 90%;
    position: relative;
    left: 10%;
}
.input-checkbox-group input {
    opacity: 0;
    z-index: 1;
    float: right;
}
label {
    line-height: 1
}
label:before {
    content: " ";
    background-color: #111925;
    border: .2vw solid #595e67;
    z-index: 2;
    display: block;
    position: fixed;
}
label:hover:before {
    border-color: #8518c3
}
label:after {
    content: " ";
    position: absolute;
    display: none;
}
.input-checkbox-group input:checked ~ label:after {
    display: block
}
.input-checkbox-group label:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid #8518c3;
    border-width: 0 .5vh .5vh 0;
    z-index: 3;
}

@media (min-height: 500px) and (orientation: landscape) {
label:before {
    height: 2.75vh;
    width: 2.75vh;
    margin-left: .5vw;
}
.input-checkbox-group label:after {
    height: 1.5vh;
    width: .75vh;
    top: 1vh;
    left: 5.25%;
}

}
@media (max-height: 500px) {
label:before {
    height: 2vh;
    width: 2vh;
    margin-left: .5%;
}
.input-checkbox-group label:after {
    height: 1.5vh;
    width: .75vh;
    top: 1vh;
    left: 3.5%;
}
}

@media (orientation: portrait) {
label:before {
    height: 2.5vh;
    width: 2.5vh;
    margin-left: .5vw;
}
.input-checkbox-group label:after {
    height: 1.5vh;
    width: .75vh;
    top: 1.25vw;
    left: 2.1%;
}
}
}
