@-moz-document url-prefix("https://duelingnexus.com/game") {
/*The purpose of this proposal is to move the rps container lower on the display, and resize its images.*/
#game-rps-container {
    margin-top: 20vh
}
#game-rps-container img{
    height: 28.8vh;
    width: 19.95vh;
    padding: 1vw;
}
#game-rps-first, #game-rps-second {
    font-size: 3vw;
    margin: 30vh 10vw;
}
}
