/*The purpose of this proposal is to make the deckbox that you choose your deck from before the duels. This prevents the deckbox from running off the screen if the player has too many decks.*/
@-moz-document url-prefix("https://duelingnexus.com/game") {
#game-deck-dropdown {
    overflow: hidden
}
#game-deck-selection {
    overflow-y: auto;
    overflow-x: hidden;
    cursor: s-resize;
    height: 16vh;
    width: 28vw;
    min-width: 280px;
    margin: 0;
    padding: 0;
}
#game-deck-template {
    overflow: hidden;
    max-width: 27vw;
    padding: .5vw;
    margin: 0;
}
}
